.menu__icon {
	width: 30px;
	height: 30px;
	// border: 1px solid #000;
	position: fixed;
	right: 20px;
	z-index: 3;

	display: none;
	@include laptop {
		display: block;
		top: 50px;
	}
	@include tablet {
		top: 30px;
	}

	span {
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 2px;
		background: black;
		transition: all 0.3s ease 0s;
	}
	span:first-child {
		top: 0px;
		transition: all 0.3s ease 0s;
	}
	span:last-child {
		top: 16px;
		transition: all 0.3s ease 0s;
	}
}
.icon__menu.active {
	span {
		display: none;
		// background: white;
		&:first-child {
			top: 10px;
			transform: rotate(45deg);
			display: block;
			transition: all 0.3s ease 0s;
		}
		&:last-child {
			top: 10px;
			transform: rotate(-45deg);
			display: block;
			transition: all 0.3s ease 0s;
		}
	}
}
