@include font("SansitaSwashed-Black", "SansitaSwashed-Black", "400", "normal");
@include font("SansitaSwashed-Bold", "SansitaSwashed-Bold", "700", "normal");
@include font("SansitaSwashed-Light", "SansitaSwashed-Light", "400", "normal");
@include font("SansitaSwashed-ExtraBold", "SansitaSwashed-ExtraBold", "400", "normal");
@include font("SansitaSwashed-SemiBold", "SansitaSwashed-SemiBold", "400", "normal");
@include font("SansitaSwashed-Regular", "SansitaSwashed-Regular", "400", "normal");
@include font("SansitaSwashed-Medium", "SansitaSwashed-Medium", "400", "normal");
