.section__about-col {
	padding: 120px 30px 120px 30px;
	@include tablet {
		padding: 50px 30px;
	}
	.container__about-col {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1420px;
		// border: 1px solid #000;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 100px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@include tablet {
				margin-top: 50px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.body__image {
				flex-basis: 48%;
				@include tablet {
					flex-basis: 90%;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
			.body__text {
				flex-basis: 48%;
				@include tablet {
					margin-top: 20px;
					flex-basis: 90%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				h3 {
					font-size: 22px;
					font-size: calc(10px + 12 * (100vw / 1600));
					font-family: Arial;
					font-weight: 700;
					color: #331b7b;
					text-transform: uppercase;
					@include tablet {
						text-align: center;
					}
				}
				p {
					font-weight: 300;
					font-size: 30px;
					font-size: calc(10px + 20 * (100vw / 1600));
					font-family: Arial;
					font-weight: 400;
					@include tablet {
						text-align: center;
					}
				}
				.f {
					margin-top: 90px;
					@include laptop {
						margin-top: 50px;
					}
					@include tablet {
						margin-top: 30px;
					}
				}
				.s {
					margin-top: 50px;
					@include laptop {
						margin-top: 30px;
					}
					@include tablet {
						margin-top: 15px;
					}
				}
			}
		}

		.container__list {
			margin-top: 60px;
			width: 100%;
			height: auto;
			// border: 1px solid #000;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.list__header {
				h3 {
					font-size: 30px;
					font-size: calc(15px + 15 * (100vw / 1600));
					color: #331b7b;
					text-transform: uppercase;
					font-weight: 700;
					font-family: Arial;
					@include big_screnn {
						font-size: 30px;
					}
				}
			}
			.list__ul {
				// padding: 0 30px;
				// border: 1px solid #000;
				width: 100%;
				ul {
					width: 100%;

					// border: 1px solid #000;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					li {
						margin-top: 90px;
						display: inline;
						span {
							font-size: calc(15px + 15 * (100vw / 1600));

							color: black;
							@include big_screnn {
								font-size: 30px;
							}
							a {
								font-size: 30px;
								font-size: calc(15px + 15 * (100vw / 1600));
								color: #331b7b;
								text-transform: uppercase;
								font-family: Arial;
								@include big_screnn {
									font-size: 30px;
								}
							}
						}
						a.more {
							font-size: 25px;

							color: #51c4f1;
							@include big_screnn {
								font-size: 25px;
							}
							// text-transform: lowercase;
						}
					}
					li:first-child {
						margin-top: 50px;
					}
				}
			}
		}
	}
}
.setinon__partners {
	padding: 50px 30px;
	.container__partners {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__partners-body {
			margin-top: 50px;
			max-width: 1100px;
			width: 100%;
			// border: 1px solid #000;
			position: relative;
			overflow: hidden;
			height: 250px;
			display: flex;
			align-items: center;
			justify-content: center;

			.swiper-wrapper {
				width: 100%;
				.swiper-slide {
					width: 100%;
					// max-width: 250px;
					// margin-right: 0;
					// width: 100%;
					// border: 1px solid #000;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-prev::after {
				background: url("../img/history/prev.png") 0 0/100% 100% no-repeat;
			}

			.swiper-button-next {
				right: 0;
			}
			.swiper-button-next::after {
				background: url("../img/history/next.png") 0 0/100% 100% no-repeat;
			}
		}
	}
}
.section__teachers {
	padding: 80px 30px;
	background: #f1faff;

	.container__teachers {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 80px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			.item {
				flex-basis: 18%;
				@include tablet {
					flex-basis: 40%;
					margin-bottom: 40px;
				}
				@include big_phone {
					flex-basis: 70%;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
