.section__about-col {
	padding: 120px 30px 120px 30px;
	// border: 1px solid #000;
	// background: red;
	@include tablet {
		padding: 20px 30px;
	}
	.container__about-col {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1420px;
		width: 100%;
		height: auto;
		// border: 1px solid #000;
		@include tablet {
			margin-top: -50px;
		}
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 100px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			// border: 1px solid #000;
			width: 100%;
			height: auto;
			@include tablet {
				margin-top: 30px;
				height: 600px;
			}
			@include big_phone {
				height: 500px;
			}
			@include phone {
				height: auto;
			}
			.body__image {
				flex-basis: 48%;
				@include tablet {
					flex-basis: 100%;
					height: 50%;
					// border: 1px solid #000;
					// margin-bottom: 20px;
					// display: none;
				}
				@include phone {
					margin-bottom: 20px;
				}
				img {
					width: 100%;
					height: 100%;
				}
				iframe {
					width: 100%;
					height: 100%;
				}
			}
			.body__text {
				flex-basis: 48%;
				@include tablet {
					flex-basis: 100%;
				}
				@include phone {
					margin-bottom: 100px;
				}
				h3 {
					font-size: 22px;
					font-size: calc(10px + 12 * (100vw / 1600));

					font-weight: 700;
					color: #331b7b;
					text-transform: uppercase;
					font-family: "Roboto", sans-serif;

					@include tablet {
						text-align: center;
						// margin-top: 20px;
					}
				}
				p {
					font-weight: 300;
					font-size: 30px;
					font-size: calc(10px + 20 * (100vw / 1600));

					font-weight: 400;
					font-family: "Roboto", sans-serif;

					@include tablet {
						text-align: center;
					}
				}
				.f {
					margin-top: 90px;
					@include laptop {
						margin-top: 50px;
					}
					@include tablet {
						margin-top: 30px;
					}
				}
				.s {
					margin-top: 50px;
					@include laptop {
						margin-top: 30px;
					}
					@include tablet {
						margin-top: 15px;
					}
				}
			}
		}

		.container__list {
			margin-top: 60px;
			@include tablet {
				margin-top: 0;
			}
			width: 100%;
			height: auto;
			// border: 1px solid #000;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.list__header {
				h3 {
					font-size: 30px;
					font-size: calc(15px + 15 * (100vw / 1600));
					color: #331b7b;
					text-transform: uppercase;
					font-weight: 700;
					font-family: "Roboto", sans-serif;

					@include big_screnn {
						font-size: 30px;
					}
				}
			}
			.list__ul {
				// padding: 0 30px;
				// border: 1px solid #000;
				width: 100%;
				ul {
					width: 100%;

					// border: 1px solid #000;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					li {
						margin-top: 90px;
						display: inline;
						@include tablet {
							margin-top: 50px;
						}
						@include big_phone {
							margin-top: 30px;
						}
						span {
							font-size: calc(15px + 15 * (100vw / 1600));
							font-family: "Roboto", sans-serif;

							color: black;
							@include big_screnn {
								font-size: 30px;
							}
							a {
								font-size: 30px;
								font-size: calc(15px + 15 * (100vw / 1600));
								color: #331b7b;
								text-transform: uppercase;
								font-family: "Roboto", sans-serif;
								@include tablet {
								}

								@include big_screnn {
									font-size: 30px;
								}
							}
						}
						a.more {
							font-size: 25px;

							color: #51c4f1;
							@include big_screnn {
								font-size: 25px;
							}
							// text-transform: lowercase;
						}
					}
					li:first-child {
						margin-top: 50px;
					}
				}
			}
		}
	}
}
.setinon__partners {
	padding: 50px 30px;
	@include big_phone {
		padding: 20px 30px;
	}
	.container__partners {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__partners-body {
			margin-top: 50px;
			max-width: 1100px;
			width: 100%;
			// border: 1px solid #000;
			position: relative;
			overflow: hidden;
			height: 250px;
			display: flex;
			align-items: center;
			justify-content: center;

			.swiper-wrapper {
				width: 100%;
				.swiper-slide {
					width: 100%;
					// max-width: 250px;
					// margin-right: 0;
					// width: 100%;
					// border: 1px solid #000;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-prev::after {
				background: url("../img/history/prev.png") 0 0/100% 100% no-repeat;
			}

			.swiper-button-next {
				right: 0;
			}
			.swiper-button-next::after {
				background: url("../img/history/next.png") 0 0/100% 100% no-repeat;
			}
		}
	}
}
.section__teachers {
	padding: 80px 30px 120px 30px;
	background: #f1faff;
	@include big_phone {
		padding: 30px 30px;
	}
	.container__teachers {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 80px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			.item {
				flex-basis: 18%;
				@include tablet {
					flex-basis: 40%;
					margin-bottom: 40px;
				}
				@include big_phone {
					flex-basis: 70%;
				}
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.section__creating {
	padding: 90px 30px;
	background: #f1faff;
	@include big_phone {
		padding: 30px 30px;
	}
	.container__creating {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			.body__header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include tablet {
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.image {
					flex-basis: 48%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.text {
					flex-basis: 49%;
					@include tablet {
						margin-top: 30px;
					}
					p {
						font-size: 20px;
						margin-top: 50px;
						line-height: 30px;
						font-family: "Roboto", sans-serif;

						// max-width: 675px;
						@include tablet {
							text-align: center;
						}
						@include laptop {
							font-size: calc(15px + 10 * (100vw / 1600));
							margin-top: 20px;
							line-height: 25px;
						}
					}
					p:first-child {
						margin-top: 0;
					}
				}
			}

			.body__body {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include tablet {
					margin: 20px 0;
					justify-content: center;
				}
				button {
					color: #51c4f0;
					background: white;
					font-size: 20px;
					padding: 5px 20px;
					font-family: "Roboto", sans-serif;
				}
			}
		}

		.container__footer {
			margin-top: 20px;
			width: 100%;
			.slideContainer {
				width: 100%;
				.range__slider {
					-webkit-appearance: none;
					width: 100%;
					height: 10px;
					background: linear-gradient(90deg, rgb(15, 31, 179) 50%, #52c3f1 10%);
					outline: none;
					// opacity: 0.7;
					-webkit-transition: 0.2s;
					transition: opacity 0.2s;
					border-radius: 12px;
					// box-shadow: 0px 1px 10px 1px #000;
				}
				// .range__slider:hover {
				// 	opacity: 1;
				// }
				// For Chrome

				.range__slider::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 20px;
					height: 20px;
					background: rgb(15, 31, 179);
					border-radius: 50%;
					border: none;

					cursor: pointer;
				}
				// For mozila

				.range__slider::-moz-range-thumb {
					width: 20px;
					height: 20px;
					background: rgb(15, 31, 179);
					border: none;
					border-radius: 50%;
					cursor: pointer;
				}
			}
			.years {
				margin-top: 20px;
				width: 100%;
				display: flex;
				justify-content: flex-start;
				.cont {
					width: 52%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					@include laptop {
						width: 53%;
					}
					@include big_phone {
						width: 55%;
					}
					p {
						font-size: 20px;
						font-family: Roboto;
					}
				}
			}
		}
	}
}
