@import "mixins";
@import "fonts";
@import "null";
@import "header";
@import "classes";
@import "footer";
@import "progress";
@import "burger";
@import "swiper";
@import "courses";
@import "home";
@import "history";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@400;500;700&display=swap");
// font-family: 'Montserrat', sans-serif;
body.lock {
	overflow-y: hidden;
}
header {
	// border: 1px solid #000;
	@include big_screnn {
		height: 175px;
	}
	@media (max-width: 1600px) {
		height: 140px;
	}
	@include laptop {
		height: 135px;
	}
}
.search__form {
	background: rgb(255, 255, 255);

	// border: 1px solid #000;
	width: 100%;
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: -1000px;
	z-index: 12;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease 0s;
	box-shadow: 0px 0px 10px #000000;
	@include phone {
		padding: 0 10px;
	}
	.form__cont {
		width: 100%;
		height: 53px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// border: 1px solid #000;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 80%;
			// border-bottom: 1px solid #000;
			input {
				width: 80%;
				height: 50px;
				// background: rgba(170, 169, 169, 0.911);
				font-size: 20px;
				// border: 1px solid #000;
				cursor: text;
				border-bottom: 1px solid #000;
				// border: 1px solid #000;
			}
			input::-webkit-input-placeholder {
				color: #999;
			}
			input:focus::-webkit-input-placeholder {
				color: transparent;
			}

			input:-moz-placeholder {
				color: #999;
			}
			input:focus:-moz-placeholder {
				color: transparent;
			}

			input::-moz-placeholder {
				color: #999;
			}
			input:focus::-moz-placeholder {
				color: transparent;
			}

			input:-ms-input-placeholder {
				color: #999;
			}
			input:focus:-ms-input-placeholder {
				color: transparent;
			}

			.clear {
				object-fit: contain;
				width: 70px;
				// margin-left: 4px;
				height: 50px;
				cursor: pointer;
				border-bottom: 1px solid #000;
			}
			.close {
				object-fit: contain;
				cursor: pointer;

				width: 35px;
				height: 35px;
				margin-left: 5px;
			}
		}
	}
	.form__cont::after {
		content: "";
		// width: 85%;
		// height: 2px;
		// margin: 2px 40px 0 0;
		// background: black;
	}
}
.search__form.show {
	opacity: 1;
	top: 63px;
	transition: all 0.4s ease 0s;
	@include laptop {
		top: 135px;
	}
	@include tablet {
		top: 100px;
	}
}
main {
	margin-top: 175px;
	// background: red;
	// height: 100vh;
	overflow: hidden;
	@include big_screnn {
		margin-top: 175px;
	}
	@media (max-width: 1600px) {
		margin-top: 140px;
	}
	@include laptop {
		margin-top: 135px;
		// border: 1px solid #000;
	}
	@include tablet {
		margin-top: 100px;
	}
}
main.show {
	opacity: 0.4;
	pointer-events: none;
}
html.show {
	overflow: hidden;
}
header.show {
	opacity: 1;
	pointer-events: none;
}
// picture {
// 	width: 400px;
// 	height: 500px;
// }
// img {
// 	width: 100%;
// 	height: 100%;
// }

.section {
	width: 100%;
	height: 100%;
	display: flex;
	@include tablet {
		padding: 90px 30px;
	}
	// overflow-x: hidden;
}
.container {
	width: 100%;
}
.container__title {
	text-align: center;
	color: #30207f;
	font-size: 65px;
	font-size: calc(10px + 48 * (100vw / 1400));
	font-weight: 800;
	line-height: 75px;
	line-height: calc(30px + 43 * (100vw / 1400));
	letter-spacing: normal;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	@include big_screnn {
		font-size: 65px;
		line-height: 75px;
	}
	@include phone {
		line-height: 25px;
	}
}
// ================ MAIN SCREEN ===========================

.section__banner {
	position: relative;
	padding: 175px 0;
	// padding-bottom: calc(185px + 85 * (100vw / 1400));
	// padding: 127px 0 127px 0;
	.banner__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			width: 100%;
			// width: 100%;
			height: 100%;
			// object-fit: contain;
			object-fit: cover;
		}
	}
	.banner__text {
		// margin-top: 127px;
		// margin-bottom: 127px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// transform: translate(-50%, -50%);

		background-color: rgba(55, 49, 133, 0.61);
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-family: "Montserrat", sans-serif;
			font-size: 90px;
			font-size: calc(20px + 70 * (100vw / 1400));
			font-weight: 700;
			text-transform: uppercase;
			color: white;
		}
	}
}

.section__spec {
	padding: 113px 30px 122px 30px;
	@include tablet {
		padding: 50px 30px 50px 30px;
	}
	@include phone {
		padding: 50px 30px 50px 30px;
	}
	.container__spec {
		max-width: 1380px;
		display: flex;
		flex-direction: column;
		width: 100%;
		// border: 1px solid red;
		.spec__header {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.spec__body {
			display: flex;
			margin-top: 55px;
			width: 100%;
			align-items: flex-start;
			justify-content: space-between;

			// border: 1px solid #000;
			@include tablet {
				margin-top: 30px;
				flex-direction: column;
				align-items: center;
			}

			.spec__img {
				flex: 0 1 48%;
				position: relative;
				padding: 0 0 30% 0;
				// border: 1px solid #000;

				@include laptop {
					// flex-basis: 40%;
					// flex: 0 1 48%;
				}
				@include tablet {
					// padding: 0 50% 30% 0;

					width: 60%;
					height: 100%;
				}
				@include big_phone {
					flex-basis: 100%;

					width: 100%;
					height: 400px;
					padding: 0 0 50% 0;
				}
				// @include big_phone {
				// 	width: 80%;
				// 	height: 120%;
				// }
				img {
					// border: 1px solid #000;

					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				.circle {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background: white;
					@include tablet {
						width: calc(30px + 50 * (100vw / 1600));
						height: calc(30px + 50 * (100vw / 1600));
					}
					// display: flex;
					// align-items: center;
					// justify-content: center;
					img {
						position: absolute;
						top: 50%;
						left: 55%;
						transform: translate(-50%, -50%);

						object-fit: contain;
						width: 55%;
						height: 55%;
					}
				}
			}
			.spec__text {
				// flex-basis: 48%;
				flex: 0 0 48%;

				// margin-left: 38px;
				margin-top: -10px;

				@include tablet {
					margin-top: 20px;
				}
				@media (max-width: 640px) {
					// margin-top: 50px;
				}
				p {
					max-width: 639px;
					color: #000000;
					font-family: "Roboto", sans-serif;
					font-size: 19px;
					font-size: calc(10px + 8 * (100vw / 1400));
					font-weight: 400;
					line-height: 39px;
					line-height: calc(20px + 19 * (100vw / 1400));
					text-align: left;
					@include big_screnn {
						font-size: 19px;
						line-height: 39px;
					}
					@include tablet {
						text-align: center;
					}
				}
				p:nth-child(2) {
					margin-top: 25px;
					color: #000000;
					font-family: "Roboto", sans-serif;
					font-size: 18px;
					font-size: calc(10px + 8 * (100vw / 1400));
					font-weight: 700;
					line-height: 39px;
					@include tablet {
						text-align: center;
					}
				}
			}
		}
	}
}

.section__directions {
	background-color: #f0faff;
	padding: 47px 30px 70px 30px;
	@include big_phone {
		padding: 30px 30px;
	}
	.container__direction {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			display: flex;
			align-items: center;
			justify-content: center;
			.container__title {
				max-width: 1000px;
			}
		}

		.container__body {
			margin-top: 44px;
			display: flex;
			// border: 1px solid #000;
			justify-content: space-between;
			flex-wrap: wrap;
			perspective: 400px;
			// transform-style: preserve-3d;
			@media (max-width: 960px) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.item {
				flex-basis: 25%;
				// border: 1px solid #000;
				background: white;
				transition: all 0.3s ease 0s;
				margin-bottom: 30px;

				@media (max-width: 960px) {
					// margin-top: 30px;
					// flex-basis: 0;
					width: 50%;
				}
				@include tablet {
					flex-basis: 0;
					width: 60%;
				}
				@include big_phone {
					width: 90%;
				}

				.item__img {
					max-height: 177px;
					overflow: hidden;
					img {
						@media (max-width: 960px) {
							width: 100%;
							height: 100%;
						}
						@include big_phone {
							width: 100%;
							height: 210px;
						}

						// @include tablet {
						// 	max-width: 320px;
						// }
					}
					// border: 1px solid red;
				}
				.item__body {
					padding: 26px 10px 50px 20px;
					h2 {
						font-family: "Montserrat", sans-serif;
						// font-size: 30px;
						font-size: calc(10px + 20 * (100vw / 1400));
						font-weight: 700;
						text-transform: uppercase;
						@media (min-width: 1400px) {
							font-size: 30px;
						}
					}
					p {
						padding: 0 20px 0 0px;
						// max-width: 355px;
						max-height: 150px;
						overflow: hidden;
						margin-top: 30px;
						font-family: "Roboto", sans-serif;
						color: #000000;
						// border: 1px solid #000;
						font-size: 19px;
						font-size: calc(9px + 10 * (100vw / 1400));
						font-weight: 400;
						line-height: 39px;
						line-height: calc(19px + 20 * (100vw / 1400));
						letter-spacing: 0.47px;
						@media (min-width: 1400px) {
							font-size: 19px;
							line-height: 39px;
						}
						@include phone {
							max-height: 120px;
						}
					}
				}
			}
			.item:hover {
				transform: scale(1.05);
				transition: all 0.3s ease 0s;
			}
			.item:first-child:hover {
				box-shadow: 5px 5px 15px rgb(44, 190, 235);
			}
			.item:nth-child(2):hover {
				box-shadow: 0px 5px 15px rgb(44, 190, 235);
			}
			.item:nth-child(3):hover {
				box-shadow: -5px 5px 15px rgb(44, 190, 235);
			}
			.item:first-child {
				@media (max-width: 960px) {
					margin-top: 0px;
				}
			}
		}
	}
}

.section__education {
	padding: 113px 0 20px 0;
	@include tablet {
		padding: 50px 0 20px 0;
	}

	.container__education {
		max-width: 100%;
		width: 100%;
		// border: 1px solid #000;
		display: flex;
		align-items: center;
		justify-content: center;
		.container__header {
			flex-basis: 100%;

			.container__title {
			}
		}

		.container__body {
			margin-top: 65px;
			display: flex;
			flex-basis: 100%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			@include tablet {
				margin-top: 30px;
			}

			.item {
				padding: 0 30px 0 30px;
				max-width: 1400px;
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				@include tablet {
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.text {
					margin-top: 50px;
					flex-basis: 48%;
					display: flex;
					flex-direction: column;
					@include tablet {
						flex-direction: column;
						align-items: center;
						justify-content: center;
						order: 2;
					}
					p {
						color: #000000;
						font-family: "Roboto", sans-serif;
						font-size: 19px;
						font-size: calc(10px + 9 * (100vw / 1400));
						font-weight: 400;
						font-style: normal;
						letter-spacing: 0.47px;
						line-height: 39px;
						line-height: calc(20px + 19 * (100vw / 1400));
						@media (min-width: 1400px) {
							font-size: 19px;
							line-height: 39px;
						}
						@include tablet {
							text-align: center;
						}
					}
					.icons {
						// flex-basis: 80%;
						width: 70%;
						margin-top: 30px;
						display: flex;
						justify-content: space-between;

						.icon {
							flex-basis: 15%;
							img {
								width: 100%;
								height: 100%;
							}
						}
					}
				}

				.image {
					flex-basis: 48%;
					@include tablet {
						order: 1;
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
			.item:first-child {
				margin-top: 0;
			}
			.item:nth-child(2) {
				padding: 0;
				max-width: 100%;
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				// border: 1px solid #000;
				.swiper-container {
					min-width: 0;
					// max-width: 680px;
					// max-height: 430px;
					// width: 100%;
					// height: 100%;
					width: 680px;
					width: calc(300px + 380 * (100vw / 1600));
					// height: 430px;
					height: calc(200px + 230 * (100vw / 1600));
					@include phone {
						width: 300px;
						height: 200px;
					}
					.swiper-wrapper {
						width: 100%;
						height: 90%;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.swiper-pagination {
						// bottom: 25px;
						height: 14px;
						// border: none;
						background: white;
						border: 2px solid #52c3f1;
						// position: relative;
						// border: none;
						.swiper-pagination-progressbar-fill {
							height: 100%;
							background: #52c3f1;
						}
					}
				}
				.image {
				}
				.text {
					padding: 70px 30px 0 46px;
					@include laptop {
						padding: 70px 56px 0 46px;
					}
					margin-top: 0;
					background-color: #f0faff;
					@include tablet {
						width: 100%;
						// border: 1px solid #000;
						padding: 70px 26px 0 26px;
					}
					ul {
						li {
							margin-top: 40px;
							color: #000000;
							font-family: "Roboto", sans-serif;
							font-size: 25px;

							font-size: calc(10px + 15 * (100vw / 1400));
							font-weight: 400;
						}
						li:first-child {
							margin-top: 0;
						}
						li:nth-child(n + 7) {
							display: none;
						}
						li::before {
							content: "";
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: #30207f;
							margin-right: 11px;
							display: inline-block;
						}
					}

					ul::after {
						content: "";
						width: 84px;

						height: 43px;
						background: url("../img/edu/icons/Vector_Smart_Object.png");
						display: block;
						margin: 60px auto 52px auto;
						cursor: pointer;
						transition: all 0.3s ease 0s;
					}
					ul.opnd_g::after {
						transform: rotate(-180deg);
						transition: all 0.3s ease 0s;
					}
				}
			}
			.reverse {
			}
		}
	}
}

.section__practice {
	padding: 64px 30px 170px 30px;
	@include tablet {
		padding: 20px 30px 50px 30px;
	}
	.container__practice {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 63px;

			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				@include tablet {
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.item__image {
					flex-basis: 48%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.item__text {
					flex-basis: 48%;

					// border: 1px solid #000;
					@include tablet {
						margin-top: 20px;
					}
					p {
						color: #010000;
						font-family: "Roboto", sans-serif;
						font-size: 19px;
						font-size: calc(10px + 9 * (100vw / 1400));
						font-weight: 400;
						line-height: 39px;
						line-height: calc(20px + 19 * (100vw / 1400));
						text-align: left;
						letter-spacing: 0.47px;
						@include big_screnn {
							line-height: 39px;
							font-size: 19px;
						}
						@include tablet {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

.section__diplom {
	background-color: #f0faff;
	padding: 78px 30px 110px 30px;
	@include tablet {
		padding: 30px 30px 50px 30px;
	}
	.container__diplom {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 55px;
			.item {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				@include tablet {
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				.item__image {
					flex-basis: 49%;
					@include tablet {
						order: 1;
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
				.item__text {
					flex-basis: 48%;

					// border: 1px solid #000;
					@include tablet {
						margin-top: 20px;
						order: 2;
					}
					p {
						font-family: "Roboto", sans-serif;
						// line-height: 39px;
						line-height: 37px;
						line-height: calc(20px + 17 * (100vw / 1400));
						font-size: 19px;
						font-size: calc(10px + 9 * (100vw / 1400));
						font-weight: 400;
						letter-spacing: 0.47px;
						margin-top: 25px;
						@include big_screnn {
							line-height: 37px;
							font-size: 19px;
						}
						@include tablet {
							text-align: center;
						}
					}
					p:first-child {
						margin-top: -15px;
					}
				}
			}
		}
	}
}

.section__form {
	padding: 105px 30px 120px 30px;
	position: relative;
	@include big_phone {
		padding: 50px 30px 120px 30px;
	}
	.circle {
		position: absolute;
		width: 255px;
		height: 255px;

		width: calc(100px + 155 * (100vw / 1600));
		height: calc(100px + 155 * (100vw / 1600));
		left: 30px;
		top: -70px;

		background: #579ae6;
		border-radius: 50%;
	}
	.circle2 {
		position: absolute;
		width: calc(50px + 70 * (100vw / 1600));
		height: calc(50px + 70 * (100vw / 1600));
		bottom: 130px;
		right: 130px;
		background: #579ae6;
		border-radius: 50%;
	}
	.container__form {
		flex-direction: column;
		position: relative;
		z-index: 4;
		.container__header {
			.container__title {
			}
		}

		.container__body {
			margin-top: 70px;
			display: flex;
			align-items: center;
			justify-content: center;

			form {
				max-width: 900px;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.input-data {
					margin-top: 60px;
					height: 40px;
					width: 100%;
					position: relative;
					input {
						height: 100%;
						width: 100%;
						// border: 1px solid #000;
						border-bottom: 2px solid rgb(3, 26, 231);
						font-size: 17px;
					}
					input:focus ~ label,
					input:valid ~ label {
						transform: translateY(-35px);
						transition: all 0.3s ease 0s;
						font-size: 15px;
					}

					label {
						position: absolute;
						bottom: 10px;
						left: 0;
						color: grey;
						pointer-events: none;
						transition: all 0.3s ease 0s;
						color: #363636;
						font-family: "Roboto", sans-serif;
						font-size: 25px;
						font-weight: 400;
					}
				}
				.input-data:first-child {
					margin-top: 0;
				}

				.input-data::after {
					content: "";
					width: 0%;
					height: 4px;
					background: rgb(3, 26, 231);
					display: block;
					transition: all 0.5s ease 0s;
				}
				.input-data:hover::after {
					width: 100%;
					transition: all 0.5s ease 0s;
				}
				button {
					padding: 10px 69px;
					margin-top: 44px;
					color: #ffffff;
					font-family: "Roboto", sans-serif;
					font-size: 35px;
					font-size: calc(10px + 25 * (100vw / 1400));
					font-weight: 400;
					font-style: normal;
					background-color: #52c3f1;
				}
				button:hover {
					background: white;
					padding: 8.5px 69px;

					border: 2px solid #52c3f1;
					color: #52c3f1;
				}
			}
		}
	}
}
